<html lang="en">
    <head>
        <title>URL Shortener Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                URL Shortener Microservice
            </h1>
            <blockquote>
                How it works:
                <ul>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
                <ul>When I visit that shortened URL, it will redirect me to my original link.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>http://myurlshorti.herokuapp.com/api/google.com</code><br>
            <code>http://myurlshorti.herokuapp.com/api/youtube.com</code>
            <h3>Example output:</h3>
            <code>
                {"url":"myurlshorti.herokuapp.com:4000/api/url/96203"}
            </code>
            <h3>Usage:</h3>
            <code>
                http://myurlshorti.herokuapp.com/api/url/96203
            </code>
            <h3>Will redirect to:</h3>
            <code>
                https://www.google.com/
            </code>
        </div>
    </body>
</html>